@font-face {
  font-family: "Fira Sans";
  src: url("../Fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "MontserratBold";
  src: url("../Fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: bold;
}

#home {
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
}

#nav {
  background-image: url('../Backgrounds/Bg_Header.png');
  background-color: rgb(253, 250, 250);
  width: 100%;
  height: 75px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

}

#nav a {
  font-family: "Fira Sans";
  font-size: 20px;
  margin: 15px 25px;
  color: #251f1f;
  text-align: center;
  text-decoration: none;
  font-size: 17px;

}

#nav div:first-child {
  margin-right: auto;
}

h1 {
  font-family: "Montserrat";
  letter-spacing: 5px;
  margin-left: 30px;
}

h2 {
  font-family: "Fira Sans";
  letter-spacing: 5px;
  margin-left: 30px;
}

.btnConocer {
  font-family: "Fira Sans";
  border: 2px solid #2197cd;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: transparent;
  width: 180px;
  color: #fff;
  background: #318aac;
  font-weight: lighter;
  height: 25px;
  transition-duration: 0.4s;
}

.btnConocer:link,
.btnConocer:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #318aac !important;
}

.btnConocer:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnConocer::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btnConocer:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  background: #fff;
  color: #318aac !important;
}

.btnConocer-animated {
  animation: moveInBottom 6s ease-out;
  animation-fill-mode: backwards;
}

.btnLogin {
  font-family: "Fira Sans";
  border: 2px solid #2197cd;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: transparent;
  width: 180px;
  color: #2197cd;
  background: #fff;
  font-weight: lighter;
  height: 25px;
  transition-duration: 0.4s;
}

.btnLogin:link,
.btnLogin:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: #2197cd;
  color: #fff !important;
}

.btnLogin:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnLogin::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btnLogin:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  background: #fff;
  color: #318aac !important;
}

.btnLogin-animated {
  animation: moveInBottom 6s ease-out;
  animation-fill-mode: backwards;
}

.btnPoke {
  font-family: "Fira Sans";
  border-radius: 50%;
  background-image: url('../pokeball.svg');
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: transparent;
  margin: 25px;
  width: 50px;
  font-weight: lighter;
  height: 50px;
  transition-duration: 0.4s;
}

.btnPoke:link,
.btnPoke:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-150deg);

}

.btnPoke:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.btnPoke::after {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btnPoke:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.btnPoke-animated {
  animation: moveInBottom 6s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}